body{
    overflow: hidden;
    background-color: #92B4EC;
}
.game{
    display: flex;
    justify-content: space-evenly;
    text-align: center ;
    align-items: center;
}
input[type="button"]{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    padding: 0px;
    font-size: 18px;
    background-color: #ffe69ad0;
    font-weight: 600;
    /* color: #ffffff; */
}
 input{
    border-radius: 10px;
    border: 1px solid rgb(147, 138, 138);
    text-align: center;
    background-color: #ffe69ad0;
    font-size: 20px;

    /* text-decoration: dotted; */
  
}
img{
    width: 200px;
    height: 200px;
    
}
.sub{
    align-items: center;
    display: flex;
    justify-content: center;
}
.btn{
    width: 200px !important ;
    height: 60px !important;
    font-size: 24px !important;
}
#f-name,#s-name{
    width: 300px;
    height: 50px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.red{
	color:red;
    width: 150px;
    height: 150px;
    font-size: 80px;
    border-radius: 0;

	}


    
.x , .o {
    width: 300px;
    height: 300px;
    font-size: 60px;
    border-radius: 0;
    /* margin-bottom: -20px; */
    margin-right: 0px;
    text-align: center;
    align-items: center;
}
.second{
    margin-top: 50px;
}
.first , .third{
    width: 300px;
    margin-top: 200px;
    height: 200px;
}
.heading{
    margin-top: -20px;
    text-align: center;
    width: 100%;
    margin-bottom: -15px;
    display: flex;
    justify-content: space-evenly;
    background-color: #92B4EC;
    /* border: 5px solid #FFD24C; */
    border-bottom: 5px solid #FFD24C;
}

.first-row,.second-row,.third-row{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    font-weight: 600;

}
.row1{
    display: flex;
    justify-content:space-around ;
}
.x-o{
    width: 150px;
    height: 150px;
    font-size: 80px;
    border-radius: 0;
    font-weight: 400;
    color: black;
}
h5{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}
h2{
    color: black;
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 50px;
}